@import '../layout';
@import '../theme';

html, body {
  @include reset;
  background:$background-light;
  font-family:$font-stack;
  font-weight:300;
  color:$text-color;
  height:100%;
  overflow:hidden;
}

.screen {
  height:100%;
  width:100%;
  background:$background;
}

.view {
  text-align:center;
  padding-top:2em;
  max-width:295px;
  width:100%;
  margin:0 auto;
}

.hidden {
  display:none;
}

.full {
  height:100%;
}

.description {
  text-align:left;
}

a {
  color:#445764;
}
