@import '../layout';
@import '../theme';

html, body {
  background:#f5f5f5;
}

.sidebar {
  position:absolute;
  top:0;
  right:0;
  width:$sidebar-width;
  border-left:solid 1px #eee;
  background:#fff;
  min-height:100%;
  padding:1em;
  box-sizing:border-box;

  b.title {
    margin-bottom:0.25em;
    display:inline-block;
  }
}

.container {
  padding-right:$sidebar-width;
}

.pill {
  // not ems to keep constant
  border-radius:4px;
  background:#eee;
  min-width:1.25em;
  text-align:center;
  display:inline-block;
  margin-bottom:4px;
}

.pill.contrast {
  color:#fff;
}

.huge.pill {
  font-size:3em;
}

.medium.pill {
  font-size:2em;
}

.divider {
  margin-top:0.5em;
  margin-bottom:1em;
  border-bottom:solid 1px #eee;
}

input[type=text] {
  border:solid 1px #ddd;
  border-radius:4px;
  font-size:1em;
  padding:0.4em;
}

.hidden {
  -webkit-transition-duration:0.5s;
  opacity:0;
  display:none;
}

.pill[player='0'], .tile[player='0'] {
  background:#2ecc71 !important;
}
.pill[player='1'], .tile[player='1'] {
  background:#3498db !important;
}
.pill[player='2'], .tile[player='2'] {
  background:#e67e22 !important;
}
.pill[player='3'], .tile[player='3'] {
  background:#e74c3c !important;
}

.row {
  overflow:hidden;
}

.tile {
  -webkit-transition-duration:0.3s;
  height:6em;
  width:6em;
  background:#eee;
  float:left;
  margin:4px;
  border-radius:4px;
  cursor:pointer;

  &:hover {
    -webkit-transition-duration:1s;
    background:#ddd;
  }
}

.hint {
  color:#aaa;
}

.popover {
  position:relative;
  border:solid 1px #eee;
  display:inline-block;
  background:#fff;
  border-radius:4px;
  padding:4px;
  height:20px;
  line-height:20px;
  padding-left:1.65em;

  .pill {
    position:absolute;
    min-height:1.25em;
    left:4px;
  }
}
