@import '../layout';
@import '../theme';

.chat {

  .sub.window {
    overflow-y:scroll;
    padding-right:1em;
    height:25em;
  }

  button {
    background:#fff;
    border:solid 1px #aaa;
    color:#aaa;
    border-radius:4px;
    padding:0.25em 0.5em;
    cursor:pointer;
    text-transform:uppercase;
  }

  input[type=text] {
    width:100%;
    box-sizing:border-box;
    margin-top:0.25em;
  }
}
