@import '../layout';
@import '../theme';

.overlay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(0, 0, 0, 0.8);
  width:100%;
  height:100%;
}

.modal {
  background:#fff;
  width:600px;
  margin:0 auto;
  margin-top:1em;
  padding:1em;
  border-top:solid 1em #34495e;

  .title {
    margin:0;
  }

  .room.pill {
    -webkit-transition-duration:0.5s;
    position:relative;
    color:#ccc;
    cursor:pointer;
    margin-right:0.1em;
    margin-bottom:15px;
  }

  .room.pill:hover {
    color:#555;

    &:after {
      content: '';
      display:inline-block;
      position:absolute;
      font-size:0.4em;
      bottom:-15px;
      left:50%;
      margin-left:-10px;
      border-bottom:solid 10px #aaa;
      border-right:solid 10px transparent;
      border-left:solid 10px transparent;
    }
  }

  .room.pill:active {
    -webkit-transition-duration:0.3s;
    background:#ddd;
    color:#c5c5c5;
  }
}
