@import '../layout';
@import '../theme';

.overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
}

.modal {
  @include rounded;
  width:95%;
  max-width:295px;
  background:$background;
  margin:3em auto;
  padding:1em;
  text-align:center;

  h1 {
    margin:0;
  }

  .pill:first-child {
    font-size:3.2em;
    margin-bottom:0.1em;
    display:block;
  }

  .pill {
    line-height:1em;
    padding:0.4em;
  }

  .scores {
    margin-top:0.4em;
    margin-bottom:0.4em;
    font-size:1em;
    color:#fff;
  }

  button {
    margin:0;
  }
}

