<nav class='menu'>
  <button>
    About
  </button>
  <div class='description'>
    <p>
    Welcome to the alpha version of <b>Territory</b>!
    This game was developed as a weekend
    project, so don't expect a perfect experience!
    </p>
    <p>
    What do you think so far? What could be improved?
    </p>
    <p>
    If you want to report bugs, or give suggestions,
    tweet us at
    <a href="https://twitter.com/intent/tweet?screen_name=territoryio">@territoryio</a>.
    </p>
  </div>
  <button ui-sref='menu'>
    Back
  </button>
</nav>
