<nav class='menu'>
  <button>
    Rules
  </button>
  <div class='description'>
    <p>
    Territory is a multi player strategy game
    that involves trying to own the largest
    territory on the board.
    </p>
    <p>
    You can expand your territory by duplicating
    your tiles into neighbouring squares.
    </p>
    <p>
    Each turn you start with the same number of
    moves as you have pieces on the board.
    </p>
    <p>
    It costs <b>1</b> turn to move into an empy
    square.
    </p>
    <p>
    It costs <b>3</b> turns to move into an enemy
    square.
    </p>
    <p>
    The game ends when the <b>board is full</b>, or when
    all but one of the players are <b>stuck</b>.
    </p>
    <p>
    The winner is the player with the highest
    score.
    </p>
  </div>
  <button ui-sref='menu'>
    Back
  </button>
</nav>
