<nav class='menu'>
  <button class='action danger'>
    Error!
  </button>
  <div class='description'>
    Could not connect to the server!
    <ul>
      <li>Make sure you are connected to the internet</li>
      <li>Try restarting the app.</li>
    </ul>
    <p>
    If that doesn't fix it, tweet us at
    <a href="https://twitter.com/intent/tweet?screen_name=territoryio">@territoryio</a>
    to let us know what OS and device you are using.
    </p>
  </div>

  <button ui-sref='menu'>
    Back
  </button>
</nav>
